
html {
	background-color: #323338;
}

body {
	background-color: #ffffff;
	color: #444444;
}

a {
	color: #07A6F0;
}

.bg_dark {
    background-color: #323338;
}

div#head_content {
    background-color: #323338;
    border-top: 1px solid #47494D;
    box-shadow: 0 0 100px #333333;
    color: #FFFFFF;
} 

.content_background {
	background-color: rgba(150, 150, 150, 0.3);
	box-shadow: 0 0 20px -3px #333333;
}

footer {
	background-color: #323338;
	box-shadow: 0 100px 100px 100px #555555;
	color: #666666;
}


#theme_select {
	background-color: #B4B4B4;
	border: 1px solid #ffffff;
}

#theme_inner_menu {
	background-color: #474747;
	border: 1px solid #ffffff;
}

.headconwrap h1 {
	color: #CCCCCC;
}

.headconwrap p {
	color: #FFFFFF;
}

/* MENU */
.header #firstlevel li a {
	color: #FFFFFF;
}


/* TABLES  */

.contenttable .even td {
	background-color: #D6D6D6;
}

.contenttable td {
	padding: 0 10px;
}


/* FOOTER */

.foo {
	border-right: 1px solid #454546;
}