/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0 auto;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:840px;
  height:263px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:540px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:263px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}

#leftControl {
  top:0;
  left:-60px;
  background:transparent url(../img/slick/control_left.png) no-repeat 0 0;
}
#rightControl {
  top:0;
  right:-60px;
  background:transparent url(../img/slick/control_right.png) no-repeat 0 0;
}



#pageContainer {
  margin:0 auto;
}
#pageContainer h1 {
  display:block;
  width:960px;
  height:114px;
  background:transparent url(../img/slick/bg_pagecontainer_h1.jpg) no-repeat top left;
  text-indent: -10000px;
}

.slide p {
	color: #ffffff;
}

.slide h2, .slide p {
  margin:15px 0;
}
.slide h2 {
  font:italic 24px Georgia, "Times New Roman", Times, serif;
  color:#ccc;
  letter-spacing:-1px;
}
.slide img {
  float:right;
  margin:0 15px;
  
  /*rounded corners*/
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
}

