

/* Set custom variables */
/************************/

//bootstrap
@breadCrumbBgColor:             	#f9f9f9;
@breadCrumbMargin:						0;
@carouselMargin:						0;


//forms
@formBorderColorFocus:		rgba(221, 75, 57, 0.8);
@formShadowColorFocus:		rgba(221, 75, 57, 0.6);


//utilities
@bodyBackground:					#F9F9F9;
@navgridBackground:					#F9F9F9;
@fancyheadergridBackground:			#3D3D3D;
@headergridBackground:				#F9F9F9;
@breadcrumbgridBackground:			#F9F9F9;
@contendgridBackground:				#F9F9F9;
@footergridBackground:				#2C2C2C;
@subfootergridBackground:			#F9F9F9;
@mobilefootergridBackground:		#2C2C2C;



//Content
@contentTopPadding:					0px;
@contentRightPadding:				30px;
@contentBottomPadding:				30px;
@contentLeftPadding:				30px;
