
.news-home-teaser .article {
	width: 50%;
	float: left; 
}

.news .footer { width: 100%; }

.news .article .teaser-text {
    margin: 0;
    max-height: 85px;
    min-height: 85px;
    overflow: hidden;
}

.fcg {
	float: left;
	width: 25%;
}