


/* PAGE */

body{
  color: #ffffff;
  
}

.container {
  -webkit-box-shadow: 4px 100px  #0046C2;   
  -moz-box-shadow: 4px 0 100px #0046C2;   
  box-shadow: 4px 0 100px #0046C2; 
  background-color: #273757;
}


.navbar-inner .container {
  background-color: #273757;
}




/* font */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: #ffffff;
}


p small {
  font-size: 11px;
  color: #999999;
}



/* links */

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
}


/* HEADERS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}


h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}



h1 {
  font-size: 24px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 1px solid #eeeeee;
}





/* LIST */
li {
  line-height: 18px;
}


.muted {
  color: #999999;
}

blockquote small {
  line-height: 18px;
  color: #999999;
}

/* FOOTER */

.hidden-phone {
	background-image: none;
}

footer {
  background-color: transparent;
}