
.news_item_container {
	background-color: #DAE5ED;
	box-shadow: -3px 5px 20px -3px #003875;
	margin-bottom: 40px;
	padding: 15px 90px;
	border-radius:  0 115px 0 115px;
}

.news_item_container tr {
	vertical-align: top;
}



@media (max-width: 767px) {
	.news_item_container {
		border-radius:  0 40px 0 40px;
		padding: 14px 24px;
	}
	
	.news_item_container h2 {
		font-size: 18px;
	}

	.news_item_container ul {
		margin-left: 0px;
	}

}