

/***********/
/* GENERAL */

b {
	font-weight: bold;
}

.align-center {
	text-align: center;
}


.brand img {
	width: 110px;
	height: auto;
}






/**********/
/* HEADER */
.pos-head-nav {
	width: 60%;
	margin: 0 auto;
}

.pos-head-nav a {
	width: 90px;
}


.no_header .col_middle, .no_header .secondlevel_nav {
	margin-top: 50px;
}

.pos-head-nav-mobile {
	width: 135px;
	margin: 0 auto !important;	
}






/**************/
/* NAVIGATION */
.secondlevel_nav {
	margin-bottom: 20px;
}

.navbar-inner {
	box-shadow: 0;
	background-image: none;
}

.navbar .btn-navbar {
	margin: 13px 20px;
}

#subnavi ul, #subnavi ol, #subnavi {
	margin: 0;
}


#nav2 .btn, #subnavi .btn-large, #subnavi .btn {
	border-radius: 0;
}


#subnavi .btn {
	text-align: left;
}

#subnavi .btn-small {
	padding: 9px 14px;
}

#nav2 .btn-small {
	padding: 3px 14px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: transparent;
}

#nav2 a span {
	padding-left: 18px;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {

}

#subnavi a {
	width: 150px;
}

#nav2 a {
	border-style: none;
}




/* mobile secondlevel navigation */

.mobile_secondlevel_nav {
	margin-top: 5px !important;
	margin-bottom: 15px !important;
}

.mobile_secondlevel_nav a {
	border-style: none;
}

.mobile_secondlevel_nav .btn-large {
	width: 90%;
}

.mobile_secondlevel_nav li {
	visibility: visible;
}

.mobile_secondlevel_nav .dropdown-menu {
	visibility: hidden;
	width: 80%;
	padding: 0 20px;
}

.mobile_secondlevel_nav #subnavi a {
	width: 97%;
	padding: 10px 15px;
}


.mobile_secondlevel_nav .secondlevel_cur a,
.mobile_secondlevel_nav .thrirdlevel_cur a {
	color: #ffffff;
}

.mobile_secondlevel_nav .secondlevel_no a,
.mobile_secondlevel_nav .thrirdlevel_no a {
	color: #333333;
}




/**********/
/* FOOTER */

footer {
    background-color: #273757;
    background-repeat: repeat-x;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #ffffff;
    margin-top: 50px !important;
}

.footer_grid {
	padding: 20px 0;
}

.visible-phone {
    margin: -20px;
    padding: 0 20px;
}

.visible-phone .csc-textpic-intext-right-nowrap .csc-textpic-text {
    margin: 4px 0;
}

.visible-phone DIV.csc-textpic .csc-textpic-imagewrap img {
	margin: 10px 0;
}


.hidden-phone {
    background-color: #273757;
}

.headconwrap h1 {
	font-size: 18px;
}


.headconwrap p {
	font-size: 13px;
	line-height: 18px;
	margin: 5px 0 0;
}



#subnavi li, .nav-collapse li {
    background-image: none;
    background-position: 0 center;
    background-repeat: no-repeat;
    line-height: 18px;
    list-style: none outside none;
    padding-left: 0px;
}

li {
    background-image: url("/typo3conf/ext/aomame/template/easy_aomame_ch/main_template/img/li.png");
    background-position: 0 top;
    background-repeat: no-repeat;
    line-height: 14px;
    list-style: none outside none;
    padding-left: 18px;
}





/* BUTTONS */
.btn-group + .btn-group {
    margin-left: 0px;
    margin-top: 5px;
}





/* Lightbox Extension Demo */

.lightbox-ext-demo DIV.csc-textpic, DIV.csc-textpic DIV.csc-textpic-imagerow, UL.csc-uploads LI {
	overflow: visible;
}

.lightbox-ext-demo .csc-textpic-imagewrap {
	width: 100%;
}

.lightbox-ext-demo .csc-textpic-image {
	margin-right: 10px !important;
}

.lightbox-ext-demo .csc-textpic-firstcol {
	margin: 0 !important;
}
